body {
    font-family: Arial;
    font-size: 14px;
}
.logo {
    margin: 20px auto;
}
.logo img {
   height: 100px;
   margin: 0 auto 10px auto;
}
.logo .number {
    color: #222;
    opacity: 0.1;
}
.navigation {
    margin-left: 33px
}

.navigation a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #222;
    background: #222;
    color: #fff;
}
.navigation a:hover {
    color: #222;
    background: transparent;
}
.container {
    padding: 10px;
    margin: 5px;
}
.container a {
    color: #222;
}
.container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input {
    background-color: #f5f5f5;
    border: 0;
    padding: 5px 10px;
}
.container input[type="submit"] {
    background-color: #ccc;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    /*background-color: #ccc;*/
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    /*background-color: #222;*/
    color: #fff;
}

.search {
  margin-top: 3px;  
}
shape { margin: 0px 10px; }

font-bold {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1000px;
}

.param {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: #222;
    max-width: 400px;
    max-height: 600px;
}

.div {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.div hr {
  margin: 7px 0px;
  width: 35%;
}

.pos-left { float: left; }

.pos-right { float: right; }

.bg {
    background-color: #474e5d;
    background-size: 960px;
    height: 500px;
}

.drop {
    max-width: 40px;
    max-height: 60px;
}
